*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: #666666;
  font-weight: 300;
  line-height: 1;
  font-size: 1.4rem; }

.container {
  max-width: 80vw;
  margin: 0 auto; }

.header {
  background-image: url("../img/BgShapes.svg");
  width: 100%;
  height: 990vh;
  padding-top: 50px;
  position: relative; }
  .header__nav {
    width: 100%;
    display: grid;
    grid-template-columns: max-content minmax(min-content, 60%);
    justify-content: space-between; }
    .header__nav--menu {
      display: grid;
      grid-template-columns: repeat(6, 1fr) max-content;
      align-items: center; }
      .header__nav--menu a {
        text-decoration: none;
        color: #666666;
        font-size: 1.4rem; }
      .header__nav--menu .active {
        color: #A174DB;
        font-weight: bold; }
      .header__nav--menu .active::after {
        content: " ";
        height: 4px;
        width: 4px;
        background-color: red; }
  .header__floor {
    height: 10vh;
    width: 100%;
    background: linear-gradient(to right, #FFFFFF, #AAD7FF);
    opacity: .5;
    position: absolute;
    bottom: 0; }
  .header__hero {
    width: 39%;
    height: auto;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100; }
  .header__text {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    padding-top: 7rem; }
    .header__text--h1 {
      padding-bottom: 2.2rem; }
    .header__text--p {
      width: 70%;
      margin: 0 auto;
      line-height: 1.8;
      padding-bottom: 3.5rem; }
    .header__text--btn {
      margin: 0 auto; }
      .header__text--btn a {
        margin-right: 1.5rem;
        margin-left: 1.5rem; }

.heading-1 {
  font-family: "Poppins", sans-serif;
  font-size: 4.6rem;
  color: #222222;
  line-height: 1.4;
  font-weight: 600; }

.btn-full {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  padding: 12px 35px;
  background: linear-gradient(150deg, #6362D7, #6362D7 50%, #FF8FE2);
  border-radius: 4px;
  text-decoration: none; }

.btn-empty {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #A174DB;
  padding: 12px 35px;
  background: #fff;
  border: 1px solid #A174DB;
  border-radius: 4px;
  text-decoration: none; }
